:root {
    --morado_primario: #7935fe;
    --morado_secundario: #786DEC;
    --celeste_principal: #90F9F5;
    --celeste_secundario: #C6F7F9;
    --texto_claro: #CBCACA;
    --texto_oscuro: #6B6B6B;
    --auxiliar: #FFDA9F;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
li {list-style: none;}
a{color: #FFF; text-decoration: none;}

aside {
    position: absolute;
    z-index: 2;
}

.navbar {
    background-color: var(--morado_primario);
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
.burger-menu {
    display: block;
    cursor: pointer;
}
.burger-menu.active span:nth-child(2) {
    display: none;
}
.burger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translateY(6px) ;
}
.burger-menu.active span:nth-child(3) {
    transform: rotate(-45deg)  translateY(-6px);
}
.side-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--celeste_principal);
    width: 320px;
    position: absolute;
    left: -320px;
    height: calc(100vh - 48px);
    transition: 0.3s ease;
    z-index: 2;
}
.side-menu .homeButton {
    display: inline-block;
    height: 48px;
    width: 48px;
    margin-left: 16px;
    margin-top: 16px;
    background-image: url(../assets/icons/logo.png);
    background-position:  center;
    background-repeat: no-repeat;
    background-size: 48px;
}
.burger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s;
    background-color: #fff;
    transition: 0.3s ease;
}
.searchBar-container {
    width: 700px;
    min-width: 100px;
    margin: 16px;
}
.searchBar-container input {
    padding: 8px;
    font-size: 16px;
    outline: none;
    border: none;
    height: 32px;
    border-radius: 12px;
    width: 100%;
}
.navbar-right {
    display: flex;
    gap: 12px;
}
.shoppingCart-container {
    height: 32px;
    width: 32px;
    cursor: pointer;
}
.account-settings-container {
    margin-left: 8px;
}
.account-settings-button {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: url(../assets/icons/user-button.svg);
    background-repeat: no-repeat;
    background-position:  center;
    background-size: 32px;
}
.shoppingCart-button {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-image: url(../assets/icons/shoppin-cart-icon.svg);
    background-position:  center;
    background-repeat: no-repeat;
    background-size: 32px;
    color: #fff;
}
.side-menu.active {
    transform: translateX(320px);
    
}

.menu-list > a {
    display: inline-block;
    color: #000;
    font-weight: 700;
    margin: 16px;
}
.menu-item a {
    color: #000;
    font-weight: normal;
    margin-left: 32px;
}
.main-slider-container {
    /* object-fit: center; */
    width: 100%;
}
.main-slider-container img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .side-menu {
        width: 150px;
        position: static;
        float: left;
    }
    .burger-menu {
        display: none;
    }
    .navbar {
        display: block;
        position: relative;
    }
    .navbar-right {
        position: absolute;
        right: 8px;
        top: 8px;
    }
    .searchBar-container {
        position: absolute;
        margin: 8px;
        width: 400px;
        left: calc(50% - 200px);
    }
    .main-slider-container {
        width: calc(100% - 150px);
        float: left;
    }
}