:root
{
    --black: #000;
    --white: #fff;
    --morado_primario: #7935FE;
    --morado_secundario: #786DEC;
    --celeste_principal: #90F9F5;
    --celeste_secundario: #C6F7F9; 
    --texto_claro: #CBCACA;
    --texto_oscuro: #6B6B6B;
    --auxiliar: #FFDA9F; 
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%; 
}


/* LOGIN PARTE BY RANA */
main
{
    width: 100%;
    height: 10vh;
}

.login
{
    width: 320px;
    height: auto;
}

/* about_us */
.header_about_us
{
    display: grid;
}

