
/* ESta es el trabajo de RAANA  */

:root
{
    --black: #000;
    --white: #fff;
    --morado_primario: #7935FE;
    --morado_secundario: #786DEC;
    --celeste_principal: #90F9F5;
    --celeste_secundario: #C6F7F9; 
    --texto_claro: #CBCACA;
    --texto_oscuro: #6B6B6B;
    --auxiliar: #FFDA9F; 
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%; 
}


/* LOGIN PARTE BY RANA */
main
{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.register
{
    
    width: 320px;
    height: min-content;
}

.register .login__container-logo
{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: url("../assets/icon/logo_company.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.register .register-container
{
    width: 280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.register .register-title
{
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--morado_primario);
}

.register .login-container__input
{
    display: grid;
    row-gap: 10px;
    margin-bottom: 20px;
}

.login-container__input .input__item
{
    display: flex;
    flex-direction: column;
}

.login-container__input .input__item label
{
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--morado_primario);
}



.login-container__input .input__item input
{

    width: 280px;
    height: 45px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #efefef;
    color: var(--texto_oscuro);
    font-size: 1.4rem;
}

.register .register-container .login__start
{
    height: 45px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: var(--morado_primario);
    cursor: pointer;

    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white);
}

.register .register-container .login__forgot
{
    margin-bottom: 100px;
    text-decoration: none;
    font-size: 1.4rem;
    text-align: center;
    color: #7935FE;
    cursor: pointer;
}
.register .register-container .login__forgot:hover
{
    text-decoration: underline;
}

.register .register-container .login__sign
{

    height: 45px;
    border-radius: 5px;
    border: 2px solid var(--morado_primario);
    cursor: pointer;
    background-color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--morado_primario);
}

@media (min-width: 450px)
{
    .register .register-container .login__forgot
    {
        margin-bottom: 35px;
    }
}