include ../pug_resources/resource.pug

doctype html
html(lang="en")
    head: +head_template('css/ranads1.css')
    body: main
        .register: .register-container
            // <div class="login__container-logo"></div> 
            p.register-title Crear cuenta
            .login-container__input
                .input__item
                    label(for="email") Email 
                    input(type="email" name="" id="email" placeholder="pepegames142@gmail.com")
                .input__item
                    label(for="password") Password 
                    input(type="password" name="password" id="password" placeholder="***************")
            button.login__start Sign Up
            a.login__forgot(href="/") Forgot my password
            a(href="login.html"): button.login__sign Login
        script. 
            console.log('Hola mundo');
