include ../pug_resources/resource.pug

doctype html
html(lang="en")
    head: +head_template("css/index.css")
    body
        +navbar_main_miFarmacia()
        style.
            #enlaces_paginas a
            {
                Font-size: 30px;
            }
        section#enlaces_paginas
            br
            a(href="/login.html") login
            br
            a(href="/about_us.html") about_us
            br
            a(href="/create_new_account.html") create_new_account
            br
            a(href="/index.html") index
            br
            a(href="/carrito.html") carrito
            br
            a(href="/administrative_panel.html") administrative_panel
            br
            a(href="/mi_perfil.html") mi_perfil
        script(src="scripts/index.js") 